.img-box{
	column-count: 4;
	column-gap: 0;
	width: 80%;
	max-width: 1400px;
	margin: auto;
}
.image{
	max-width: 80%;
	display: block;
    transition: 0.2s;
}
.image + .image{
    margin: 3px auto;
}
.image:hover{
	border: 3px solid blue;
	transform: scale(1.1) rotate(3deg) translate(-10%, -5%);
	z-index: 10;
}